<div class="app-wrapper">
  <img [src]="bg" *ngFor="let bg of bgs.reverse()" class="bg-img" (load)="onBgImgLoad($event)" @bgAnim />
  <div class="btn change-bg-btn">
    <i class="material-icons" (click)="changeBg()" *ngIf="!loadingBgRandom">refresh</i>
  </div>
  <div class="top-section">
    <h1>{{datetime | async | date: 'HH:mm'}}</h1>
    <h2>{{datetime | async | date: 'd MMMM y'}}</h2>
  </div>
  <div class="content-section" [@routeAnim]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
  <div class="bottom-section">
    <app-tabs></app-tabs>
  </div>
  <app-notification></app-notification>
</div>

